<div class="layout-wrapper" style="background-color: #f8f9fa;">
  <div class="p-grid container">

    <div class="p-col-12 header">

      <div class="p-col-3">
        <app-sidebar></app-sidebar>
      </div>

      <div class="p-offset-3 p-col-9">
        <app-header></app-header>
      </div>

    </div>

    <div class="p-col-12 content">

      <div class="p-offset-3 p-col-9">
        <router-outlet></router-outlet>
      </div>

    </div>

    <div class="p-col-12 footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>


